<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="noindex, nofollow" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="expires" content="-1" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="copyright" content="Meedule, Italy" />
        <meta name="application-name" content="Meedule" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block meta %}
            <meta property="og:title" content="Meedule" />
            <meta property="og:description" content="Free fun tool for your meetings" />
            <meta property="og:url" content="http://meedule.abmundi.com/" />
        {% endblock %}
        <meta 
            property="og:image"            
            content="{{ 'http://' ~ app.request.host ~ asset('bundles/meeduledesign/img/meedule.picture.png') }}" /> 
        
        <title>{% block title %}Meedule - Agenda per meeting{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
        {% block favicon %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% endblock %}
        
        {% javascripts
            'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    {% block big_body %}
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    {% endblock %}
</html>