<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        
        <title>{% block title %}Meedule - Agenda per meeting{% endblock %}</title>
        
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        
        {% javascripts
            'http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
            
        {% block meta %}
            <meta property="og:title" content="Meedule" />
            <meta property="og:description" content="Free fun tool for your meetings" />
        {% endblock %}
        <meta 
            property="og:image"            
            content="{{ 'http://' ~ app.request.host ~ asset('bundles/meeduledesign/img/meedule.picture.png') }}" /> 
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>