{% extends 'MeeduleMeetingBundle:Meeting:show.html.twig' %}

{% block commands %}
    <a href="{{ path('meeting_admin_edit', {'slug': entity.slugprivate}) }}" class="btn">Modifica <i class="icon-wrench"></i></a>
{% endblock %}
    
{% block commands_topics %}
    <div class="pull-right">
        <a href="{{ path('meeting_admin_agenda', {'slug': entity.slugprivate}) }}" class="btn">Cambia argomenti <i class="icon-wrench"></i></a>
    </div>
{% endblock %}
    
{% block attendees %}
    {% include 'MeeduleMeetingBundle:Admin:_attendees.html.twig' %}
{% endblock %}