{% extends 'MeeduleDesignBundle::layout.html.twig' %}

{% block content %}
    

    <h1>Modifica il tuo evento</h1>
    <hr />
    
    <form action="{{ path('meeting_admin_update', {'slug': entity.slugprivate}) }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
        {{ form_widget(form) }}
        
        <div class="form-actions">
            <button type="submit" class="btn btn-success btn-large">Salva</button>
            o <a href="{{ path('meeting_admin', {'slug': entity.slugprivate}) }}">
                indietro
            </a>
         </div>
    </form>

{% endblock %}