@import '../bootstrap/mixins.less';
@import '../bootstrap/variables.less';

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.navbar{
    .nav-collapse.collapse{
       overflow: visible !important;
    }
}

#brand img{
    margin-top: 5px;
}

#meedule_meetingbundle_meetingtype select{
    width: 10%;
    min-width: 80px;
    &#meedule_meetingbundle_meetingtype_duration{
        width: 15%;
        min-width: 150px;
    }
}
#meedule_meetingbundle_meetingtype_title,
#meedule_meetingbundle_meetingtype_address,
#meedule_meetingbundle_meetingtype_description
{
    width: 50%;
    min-width: 500px;
}

#attendees{
    form{
        margin: 0px;
    }
    input{
        width: 95%;
        margin-bottom: 0px;
    }
    hr{
        margin: 8px 0px 12px 0px;
    }
    #meedule_meetingbundle_attendeetype label{
        display: none;
    }
}

ol{
    margin: 0px;
    list-style-position:inside;
    li{
        form{
            visibility: hidden;
            margin: 0px;
        }
        &:hover{
            background-color: @btnPrimaryBackground;
            color: white;
            form{
                visibility: visible;
            }
        }
    }
}

#meedule_meetingbundle_agendatype{
    input{
        width: 50%;
        min-width: 500px;
    }
}

.navbar-fixed-top{
    .pull-right{
        margin-top: 5px;
    }
}

#thanks{
    margin-top: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
}

#meedule_meetingbundle_topictype{
    input{
        width: 50%;
        min-width: 500px;
    }
}
#meedule_meetingbundle_topicpublictype_name{
    width: 90%;
}

.thumbnail > img{
    width: 100%;
}

.hero-unit{
    h2{
        color: #666666;
    }
    .btn-large{
        font-size: 30px;
        .buttonBackground(#f89329, darken(#f89329, 10%));
    }
}