@import '../bootstrap/mixins.less';

body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.navbar{
    .nav-collapse.collapse{
       overflow: visible !important;
    }
}

#clown_diarybundle_partecipantitype{
    .controls{
        .content-columns(4, 10px);
    }
}

#index{
    #clowns{
        .content-columns(4, 20px);
    }
}