@import '_fonts.less';

section {
    padding-top: 50px;
}
legend{
    a.zocial{
        font-size: 13px;
    }
}

.hero-unit{
    a.zocial{
        font-size: 0.8em;
    }

    h1{
        font-size: 80px;
        font-family: 'lobster', arial;
        font-weight: normal;
    }
}

h1{
    font-size: 40px;
    font-family: 'lobster', arial;
    font-weight: normal;
}

h2, h3, h4{
    font-family: 'piron', arial;
}