{% extends 'MeeduleDesignBundle::layout.html.twig' %}

{% block content %}
    <div class="hero-unit">
        <h1>Crea agende per riunioni</h1>
        
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <center><a class="btn btn-primary btn-large" href="{{ path('meeting_new') }}">Crea il tuo primo meeting</a></center>
    </div>
    <div class="row-fluid">
        <div class="span4">
            <div class="well well-small">
                <h3>Crea le tue riunioni</h3>
                <img src={{ asset('bundles/meeduledesign/img/meedule1.png') }} />
                <p>asdasdassam d las dlas dls adlkas dlks adl</p>
            </div>
        </div>
        <div class="span4">
            <div class="well well-small">
                <h3>Inserisci gli argomenti</h3>
                <img src={{ asset('bundles/meeduledesign/img/meedule3.png') }} />
                <p>asdasdassam d las dlas dls adlkas dlks adl</p>
            </div>
        </div>
        <div class="span4">
            <div class="well well-small">
                <h3>Partecipa</h3>
                <img src={{ asset('bundles/meeduledesign/img/meedule2.png') }} />
                <p>asdasdassam d las dlas dls adlkas dlks adl</p>
            </div>
        </div>
    </div>
{% endblock %}
