{% extends '::base.html.twig' %}
{% from 'MeeduleDesignBundle::flash.html.twig' import flash %}

{% block stylesheets %}
    {% stylesheets
        'bundles/meeduledesign/bootstrap/bootstrap.less'
        'bundles/meeduledesign/css/application.less'
    %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/meeduledesign/bootstrap/js/bootstrap-alert.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-button.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-dropdown.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-tooltip.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-popover.js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% block topbar %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="{{ path('index') }}">Meedule</a>
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="container-fluid">
        <div class="content">
            {% block flash %}
                {{ flash() }}
            {% endblock %}
                
            {% block content %}{% endblock%}
        </div>
    </div>
    
    <div class="navbar navbar-fixed-bottom" id="footer">
        <div class="navbar-inner">
            <div class="container-fluid">
                &copy; Meedule - Easy scheduler for your "funny" meetings
            </div>
        </div>
    </div>
{% endblock %}
