{% extends '::base.html.twig' %}
{% from 'MeeduleDesignBundle::flash.html.twig' import flash %}

{% block stylesheets %}
    {% stylesheets
        'bundles/meeduledesign/bootstrap/bootstrap.less'
        'bundles/meeduledesign/css/zocial.less'
        'bundles/meeduledesign/css/application.less'
        'bundles/meeduledesign/css/ui-lightness/jquery-ui-1.8.17.custom.css'
    %}
<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
        'bundles/meeduledesign/bootstrap/js/bootstrap-alert.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-button.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-dropdown.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-tooltip.js'
        'bundles/meeduledesign/bootstrap/js/bootstrap-popover.js'
        'bundles/meeduledesign/js/jquery-ui-1.8.17.custom.min.js'
    %}
<script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script>
    $(document).ready(function(){
        $("a[rel=popover]").popover();
    });
</script>
{% endblock %}

{% block body %}
    {% block topbar %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="{{ path('index') }}">Meedule</a>
            </div>
        </div>
    </div>
    {% endblock %}

    <div class="container-fluid">
        <div class="content">
            {% block flash %}
                {{ flash() }}
            {% endblock %}
                
            {% block content %}{% endblock%}
        </div>
    </div>
    
    <div class="navbar navbar-fixed-bottom" id="footer">
        <div class="navbar-inner">
            <div class="container-fluid">
                <b>&copy; Meedule</b> 
                - Prepare easily your meetings
                <a 
                    href="#" 
                    class="btn" 
                    rel="popover" 
                    data-placement="top" 
                    data-content="
                    <a href='#'>Symfony</a>, <a href='#'>Bootstrap</a>, <a href='#'>Zocials</a>, <a href='#'>Abmundi</a> and <a href='#'>Doodle</a> for their useful inspirations
                    " 
                    data-original-title="Thanks to a lot of tools"
                    id="thanks">
                        <i class="icon-heart"></i></a>
                <!--
                <div class="pull-right">
                    <button class='zocial twitter'>Seguici</button>
                    <button class='zocial facebook'>Seguici</button>
                </div>
                -->
            </div>
        </div>
    </div>
{% endblock %}
