{% extends 'MeeduleDesignBundle::layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="span4 offset4">
            <div class="well">
                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}