{% extends 'MeeduleDesignBundle::layout.html.twig' %}

{% block title %}My Meedules{% endblock %}

{% block content %}

    <div class="container">
        {% include 'MeeduleMeetingBundle:My:_meedules.html.twig' with {'meetings': future_meetings, 'meedules_title': 'Prossimi Meedules'} %}
        {% if past_meetings|length %}
            <hr />
            {% include 'MeeduleMeetingBundle:My:_meedules.html.twig' with {'meetings': past_meetings, 'meedules_title': 'Meedules passati'} %}
        {% endif %}
    </div>
{% endblock %}