{% block doodle_widget %}
    {{ block('url_widget') }}
    &nbsp;<a href="http://doodle.com/polls/wizard.html" target="_blank">Serve un doodle?</a>
{% endblock %}
    
{% block mail_widget %}
    {{ block('email_widget') }}
    &nbsp;<i class="icon-lock"></i> Resterà segreta
{% endblock %}
    